@model I3302_RentLo_finals_project.Models.Property

@{
    ViewData["Title"] = "Details";
}

<div class="col-12">
    <div class="mb-2">
        <div class="card card-rounded">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>
                            @Html.DisplayFor(model => model.PropertyTitle)
                        </h2>
                        <div class="d-flex gap-3">
                            <span>
                                <button style="background-color: transparent; border: none;"><i class="fa-regular fa-heart"></i></button>
                                @Html.DisplayFor(model => model.Favorites) Favorites
                            </span>
                            <span>
                                |
                            </span>
                            <span>
                                @Html.DisplayFor(model => model.DateCreated)
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between gap-3">
                        <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model?.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                        <button class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</button>
                        <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-circle-arrow-left"></i> Back to List</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 p-0">
            <div class="card card-rounded grid-margin mx-3 mb-3 p-0">
                <div class="card-body p-0">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner card-rounded">
                            <div class="carousel-item active">
                                <img src="https://localhost:44398/img/forest-house.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://localhost:44398/img/forest-house.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card card-rounded grid-margin mb-3">
                <div class="card-body">
                    <p class="m-0">
                        @if (Model.PropertyDescription == null)
                        {
                            <span>
                                There is no description for this property.
                            </span>
                        }
                        @Html.DisplayFor(model => model.PropertyDescription)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0">
            <div class="card card-rounded grid-margin">
                <div class="card-body">
                    <h3>Additional Information <i class="fa-solid fa-circle-info"></i></h3>
                    <hr />
                    <table class="table additional-info">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PricePerDay)
                            </th>
                            <td>
                                <h4>
                                    <i class="fa-solid fa-dollar-sign"></i> @Html.DisplayFor(model => model.PricePerDay)
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MaxGuests)
                            </th>
                            <td>
                                <h4>
                                    @Html.DisplayFor(model => model.MaxGuests) <i class="fa-solid fa-people-group"></i>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfBeds)
                            </th>
                            <td>
                                <h4>
                                    @Html.DisplayFor(model => model.NumberOfBeds) <i class="fa-solid fa-bed"></i>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfBathrooms)
                            </th>
                            <td>
                                <h4>
                                    @Html.DisplayFor(model => model.NumberOfBathrooms) <i class="fa-solid fa-shower"></i>
                                </h4>
                            </td>
                        </tr>
                    </table>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="UserPropertyRents" asp-action="Create">
                        <i class="fa-solid fa-square-plus"></i> Rent Property
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@*
    <div class="card card-rounded grid-margin">
    <div class="card-body">
    <div>
    <h1>Details</h1>
    <h4>Property</h4>
    <hr />
    <dl class="row">
    <dt >
    @Html.DisplayNameFor(model => model.PropertyTitle)
    </dt>
    <dd >
    @Html.DisplayFor(model => model.PropertyTitle)
    </dd>
    <dt >
    @Html.DisplayNameFor(model => model.PropertyDescription)
    </dt>
    <dd >
    @Html.DisplayFor(model => model.PropertyDescription)
    </dd>
    <dt >
    @Html.DisplayNameFor(model => model.PricePerDay)
    </dt>
    <dd >
    @Html.DisplayFor(model => model.PricePerDay)
    </dd>
    <dt >
    @Html.DisplayNameFor(model => model.DateCreated)
    </dt>
    <dd >
    @Html.DisplayFor(model => model.DateCreated)
    </dd>
    <dt >
    @Html.DisplayNameFor(model => model.MaxGuests)
    </dt>
    <dd >
    @Html.DisplayFor(model => model.MaxGuests)
    </dd>
    <dt >
    @Html.DisplayNameFor(model => model.NumberOfBeds)
    </dt>
    <dd >
    @Html.DisplayFor(model => model.NumberOfBeds)
    </dd>
    <dt >
    @Html.DisplayNameFor(model => model.NumberOfBathrooms)
    </dt>
    <dd >
    @Html.DisplayFor(model => model.NumberOfBathrooms)
    </dd>
    <dt >
    @Html.DisplayNameFor(model => model.Favorites)
    </dt>
    <dd >
    @Html.DisplayFor(model => model.Favorites)
    </dd>
    </dl>
    </div>
    <div class="d-flex justify-content-between">
    <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
    </div>
    </div>
*@