@using Microsoft.AspNetCore.Identity
@model IEnumerable<I3302_RentLo_finals_project.Models.Property>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "MyProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-12">
    <div class="row">

        <div class="col-12 p-0">
            <div class="card grid-margin card-rounded">
                <div class="card-body">
                    <div class="d-flex align-items-center justifty-content-between">
                        <div>
                            <h1 class="m-0 col">Property Catalogue</h1>
                        </div>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="col d-flex justify-content-end">
                                <a class="btn btn-secondary" asp-action="Create">
                                    <i class="bi bi-plus-circle"></i> Create New
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 my-2 col-md-6 p-0">
                        <div class="card grid-margin card-rounded property-card h-100 d-flex flex-column justify-content-between p-0">
                            @if (@item.MainImage.ImagePath != null)
                            {
                                <div style="position: relative">
                                    <img class="card-rounded-top card-img-top" src="~/@item.MainImage.ImagePath" />
                                    <div class="overlay-div card-rounded-top"></div>
                                </div>
                            }
                            @{
                                var textColor = @item.MainImage.ImagePath != null ? "text-white" : "";
                            }
                            <div class="card-img-overlay">
                                <div class="h-100">
                                    <div class="h-100 p-2">
                                        <h2 class="property-title">
                                            <a class="@textColor" asp-action="Details" asp-route-id="@item.Id">
                                                @Html.DisplayFor(modelItem => item.PropertyTitle)
                                            </a>
                                        </h2>
                                        <p class="property-description @textColor" style="@textColor">
                                            @if (item.PropertyDescription == null)
                                            {
                                                <span>There is no description for this property.</span>
                                            }
                                            @Html.DisplayFor(modelItem => item.PropertyDescription)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            @{
                                var style = @item.MainImage.ImagePath == null ? "position: absolute; bottom: 0" : "";
                            }
                            <div class="row px-4 pb-3 w-100" style="@style">
                                <div class="col-6">
                                    <h4 class="text-secondary">
                                        <i class="fa-solid fa-dollar-sign"></i>
                                        @Html.DisplayFor(modelItem => item.PricePerDay)
                                        <br /><small style="text-transform: none;">per day</small>
                                    </h4>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-secondary">
                                        <i class="fa-solid fa-house"></i>
                                        @item.Category.CategoryDescription
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

